@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
    left: 0;
    top: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.header {
    height: 100vh;
}

.contentHeader{
    display: flex;
    padding: 8% 8% 0 8%;
}
.contentLeft{
    flex-basis: 50%;
    margin-right: 24px;
}
.contentRight{
    flex-basis: 50%;
}